<!DOCTYPE html>
<html lang="en">
<head>
  <title>MakersBnB</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <link rel="stylesheet" href="skeleton.css">
  <link rel="stylesheet" href="normalize.css">
</head>
<body>
  <div class="container">
    <div class="row">
      <img  src="/logo.png" style="display:block;margin-left:auto; margin-right: auto;">
    </div>
    
    <div class="row">
      <div class="twelve columns"  style="text-align: center;">
        <a class="button button-primary" href="/sign_up">Signup</a>
        <a class="button button-primary" href="/login">Login</a>
        <a class="button button-primary" href="/spaces">Browse</a>
      </div>
    </div>
  </div>
</body>
</html>