<h1> List a Space </h1>
<form action="/list_spaces" method = "POST">

<label> Name </label> <input type="text" name="name"> <br>
<label> Description </label> <input type="text" name="description"> <br>
<label> Price per night </label> <input type="text" name="price_night"> <br>
<label> Start Date: </label> <input type="date" name="start_date"> <br>
<label> End Date: </label> <input type="date" name="end_date"> <br>
<input type="submit" value="submit the form">