<h1> login test </h1>

<form method="POST" action="/login" >

<label> Password </label> <input type="text" name="password"> <br>
<label> Email </label> <input type="text" name="email"> <br>


<input type="submit" value="log in" />

</form>