<h1> signup test </h1>

<form action="/signup" method = "POST">

<label> Password </label> <input type="text" name="password"> <br>
<label> Email </label> <input type="text" name="email"> <br>

<input type="submit" value="submit the form">