<!DOCTYPE html>
<html lang="en">
<head>
  <title>MakersBnB</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <link rel="stylesheet" href="skeleton.css">
  <link rel="stylesheet" href="normalize.css">
</head>
<body>
  <div class="container">
    <div class="row">
      <img  src="/logo.png" style="display:block;margin-left:auto; margin-right: auto;">
    </div>
    
    <div class="row">
      <div class="twelve columns"  style="text-align: center;">
        <a class="button button-primary" href="/spaces">Browse</a>
        <a class="button button-primary" href="login">Login</a>
      </div>
    </div>
    
    <div class="row">
      <div class="twelve columns" style="text-align: center">
        <h1>Sign Up</h1>
        
        <% if @alert %>
        <p style="color: red"><%= @alert %></p>
        <% end %>
        
        <form action="/signup" method="POST">
          
          <label>Name</label>
          <input type="text" name="name">
          
          <label>Email</label>
          <input type="text" name="email">
          
          <label>Password</label>
          <input type="text" name="password">
          <br>
          <input type="submit" value="submit the form" style="margin: 15px"/>
        </form>
      </div>
    </div>
  </div>
</body>
</html>